# Remove .DS_Store files with 
# find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch
.DS_Store
train/Data/files/*
train/test_VGG16/data/*
train/models/*
train/Example/test_U-net/test_data/*
train/Exemple/test_VGG16/data/*